{{ define "extends" }}base.html{{ end }}

{{ define "content" }}
	<h1>Register</h1>
	{{ if .ErrorMessage }}
		<p class="error">{{ .ErrorMessage }}</p>
	{{ end }}
	<form method="POST">
		<p>
			<label for="username">Username</label>
			<input id="username" type="text" name="username" placeholder="username">
		</p>
		<p>
			<label for="password">Password</label>
			<input id="password" type="password" name="password" placeholder="password">
		</p>
		<p class="submit">
			<button>Register</button>
		</p>
	</form>
{{ end }}
